$min-width:576px;

// $primary: #6686FF;
$primary: #ffb235;
$secondary: #000000;
$white: #FFF;
$bg-primary-gradient: linear-gradient(110deg, rgba(#6668ff, 1) 0%, rgba(#6696ff, 1) 100%);

$max-width: 1280px;
$nav-h-lg: 12vh;
$nav-h-sm: 8vh;

$sm-radius: 6px;
$radius: 12px;
$lg-radius: 24px;


$fs-5xl:3.2rem;
$fs-4xl:2.75rem;
$fs-3xl:2.2rem;
$fs-xxl:1.75rem;
$fs-xl:1.5rem;
$fs-lg:1.2rem;
$fs-md:0.82rem;
$fs-sm:0.7rem;
$fs-xs:0.6rem;

$transitions-time: 500ms;

$b1: 0.25rem;
$b2: 0.5rem;
$b3: 1rem;
$b4: 1.5rem;

$form-range-thumb-bg: $secondary;