@import "./_variables";
.def-shadow{
    box-shadow: 5.51px 10.65px 7px 1px rgba(46,58,147,0.3);
    // -webkit-box-shadow: 11px 13px 7px 1px rgba(46,58,147,0.53);
    // -moz-box-shadow: 11px 13px 7px 1px rgba(46,58,147,0.53);
}
.br-radius{
    border-radius: $radius;
}
.br-lg-radius{
    border-radius: $lg-radius;
}

.fs-xl{font-size: $fs-xl;}
.fs-lg{font-size: $fs-lg;}
.fs-sm{font-size: $fs-sm;}
.fs-xs{font-size: $fs-xs;}

.opacity-0{opacity: 0;}
.opacity-25{opacity: 0.25;}
.opacity-50{opacity: 0.5;}
.opacity-75{opacity: 0.75;}
.opacity-100{opacity: 1;}

.mix-blend-mode-multiply{mix-blend-mode: multiply;}

.box-primary-border{
    background-color: $primary;
    color: #fff;
    border: 3px solid #fff;
    padding: 1rem;
    @extend .br-radius;
}

.scale-hover,.scale-hover-05{
    transition: all $transitions-time;
}
.scale-hover:hover{
    transform: scale(1.1);
}
.scale-hover-05:hover{
    transform: scale(1.05);
}

svg{
    display: block;
}

.relative{position: relative;}
.absolute{position: absolute;}
.top-0{top:0}
.bottom-0{bottom:0}
.left-0{left:0}
.right-0{right:0}

input[type="radio"] {
    appearance: none;
    margin: 0;
    font: inherit;
    color: #fff;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid #fff;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type="radio"]::before{
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    //background: radial-gradient(circle, $secondary 0%, rgba(0,0,0,0) 100%);
    box-shadow: inset 1rem 1rem $secondary;
    border: 0.15rem solid rgba(255,255,255,0.3);
}
input[type="radio"]:checked::before,input[type="radio"]:hover::before {
    transform: scale(1);
}
input[type="radio"]:checked,input[type="radio"]:hover {
    border: 0.15rem solid rgba(255,255,255,0.3);
}

// .fill-img {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden
// }
// .fill-img img {
//     flex-shrink: 0;
//     min-width: 100%;
//     min-height: 100%
// }

img {
   object-fit: cover;
//    width: 50px;
//    height: 100px;
}

.ucfirst{display:inline-block}
.ucfirst:first-letter{
    text-transform: uppercase;
}

.pointer{
    cursor: pointer;
}

.bg-primary a{
    color: #fff !important;
}
.bg-secondary a{
    color: #000 !important;
}
.bg-primary-gradient {
    background: linear-gradient(110deg, rgba(#6668ff,1) 0%, rgba(#6696ff,1) 100%);
    color: #fff;
}

.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100px; /* some width */
}

.br-white{
    border: 3px white solid;
}
.bs-white{
    box-shadow: 5px 5px 0 5px white;
}
.bs-white-sm{
    box-shadow: 3px 3px 0 0 white;
}

.btn-toner-primary{
    background: rgba($primary,0.5);
}
.btn-toner-secondary{
    background: rgba($secondary,0.5);
}

.text-primary-hover:hover{
    color: $primary !important;
}

.opacity-enter-active,
.opacity-leave-active {
  transition: opacity 0.5s ease;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}

.d-center-of-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.w-br-radius{
    width: calc(100% - $radius);
}



.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.2s;
  max-height: 230px;
}
.fadeHeight-enter-from,
.fadeHeight-leave-to
{
  opacity: 0;
  max-height: 0px;
}