@import '../base.css';
@import './_variables.scss';

#app {
    margin: 0 auto;
    // padding-top: 2rem;
    // padding-bottom: 4rem;
    font-weight: normal;
    // background: #F4F4F4;
    // background: linear-gradient(110deg, rgba(255, 255, 255, 1) 49%, rgba(1, 255, 193, 1) 49%);
}

#app main {
    padding-top: 100px;
}

.max-width {
    max-width: $max-width;
    margin: auto;
}

main {
    padding: 0 1rem;
    margin: 0 auto;
    /* padding: 2rem; */
    font-weight: normal;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}


a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 500px) {
    .main-content {
        // display: flex;
        // flex-direction: column;
        // gap: 30px;
        padding: 30px;
    }
}


.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}